* {
    font-family: 'Poppins', sans-serif;

}

.wraper {
  background-color: white;
    background-size: cover;
}

html, body {
    padding: 0;
    margin: 0;
}

section {
    padding: 64px 128px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
}

#header h1 {
    font-weight: 600;
    font-size: 28px;
    margin: 0 0 0 0;
    color: #301313;
}
.menu a {
    text-decoration: none;
    margin-left: 24px;
    font-weight: 700;
    text-decoration: none;
    color: hsla(0, 0%, 0%, 0.511);
    font-size: 14px;
}

.menu a:hover {
    color: #000000;
}

.sosmed i {
    margin-left: 24px;
}

.sosmed i:hover {
    color: #000000;
}

#landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#landing h1 {
    padding-top: 70px;
    font-size: 140px;
    line-height: 130px;
    letter-spacing: -5px;
    font-weight: 600;
    margin: 0;
    color: #000000;
    opacity: 0.7;

}

.card-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303030;
    box-shadow: 16px 16px 16px -4px rgba(10, 99, 169, 0.16),
    -16px -16px 16px -4px rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    margin-top: 60px;
}

.about-person {
    column-gap: 26px;
}
.my-name h1 {
    font-size: 32px;
    line-height: -16px;
    margin: 0 0;
    color: #ffffff;
    /* opacity: 0.8; */
}

.my-name p {
    font-size: 14px;
    color: #ffffff;
    /* opacity: 0.8; */
}

.personal {
    display: flex;
    font-size: 14px;
    padding: 0;
    column-gap: 60px;
    color: white;
}

.personal, h3 {
    line-height: 80%;
}

.personal-one .personal-two {
    margin: 0 0;
}

.cv {
    margin-top: 16px;
}

.cv button {
    padding: 10px 24px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    font-style: initial;
}

#portofolio {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #000000;
}

.title h1 {
    font-size: 24px;
    margin: 0;
    color: #ffffff;
}

.title span {
    margin: 40px;
    color: white;
}
.gallery-box {
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: auto;
    gap: 20px;
}

.gallery-box .grid-item {
    cursor: pointer;
    position: relative;
    /* overflow: hidden; */
}

.gallery-box .grid-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: .3s;
}

.gallery-box .grid-item:hover img {
    filter: brightness(.5);
}

#blog {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog-news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px;
}
.image-news img {
    width: 446px;
    height: 280px;
}

.news {
    margin-left: 46px;
    line-height: 26px;
}

.news-title h2{
    margin: 0px;
    margin-bottom: 10px;
}
.news-title p {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 32px;
}

.date span {
    margin-left: 6px;
    margin-right: 10px;
    font-size: 16px;
}

.read-more button {
    color: #000000;
    background:transparent;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 6px 15px;
}
